.bg-image {
  background-image: url("./assets/grass.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  color: black;
  /* background-color: black; */
}
.start-button {
  height: 80%;
  margin: 0;
  padding: 0;
}

#taskbar {
  position: fixed;
  background-color: gray;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-top: 2px solid white;
}

.popup {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 500px;
  z-index: 10;
  cursor: move;
}
.popup#cvWindow {
  position: absolute;
  top: 44%;
  left: 30%;
  width: 430px;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.popup#chessWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.title-bar {
  cursor: move;
}
.window-body {
  cursor: default;
}
