@media (max-width: 768px) {
  .popup {
    display: none;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    transform: none !important;
    margin: 0 !important;
    z-index: 9999 !important;
  }
  .popup-mobile-nuke {
    width: 80% !important;
    margin-right: 20% !important;
    margin-left: 10% !important;
    top: 50% !important;
    height: 130px !important;
  }
  .warning-button {
    background-color: var(--vibrate-button-colour2);
    color: #1a0000;
    box-shadow: 0 0 20px var(--vibrate-button-colour),
      0 0 40px var(--vibrate-button-colour),
      0 0 60px var(--vibrate-button-colour);

    animation: confetti-burst 0.5s infinite !important;
  }
  :root {
    --vibrate-button-colour: #ff3c00;
    --vibrate-button-colour2: #ff0000;
  }
  @keyframes confetti-burst {
    0% {
      transform: scale(1) rotate(0deg);
      box-shadow: 0 0 10px #ff3c00, 0 0 20px #ff3c00;
    }
    25% {
      transform: scale(1.1) rotate(3deg);
      box-shadow: 0 0 20px #ff3c00, 0 0 30px #ff3c00;
    }
    50% {
      transform: scale(1.2) rotate(-3deg);
      box-shadow: 0 0 30px #ff3c00, 0 0 50px #ff3c00;
    }
    75% {
      transform: scale(1.1) rotate(2deg);
      box-shadow: 0 0 20px #ff3c00, 0 0 40px #ff3c00;
    }
    100% {
      transform: scale(1) rotate(0deg);
      box-shadow: 0 0 10px #ff3c00, 0 0 20px #ff3c00;
    }
  }

  .title-bar {
    height: 40px;
  }
  .title-bar-text {
    padding-left: 10px;
    font-size: 16px !important;
  }
  .title-bar-controls {
    gap: 3px;
    height: 30px;
    padding-right: 10px;
  }

  .title-bar-controls button {
    background-image: none !important;
  }

  .title-bar-controls button {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title-bar-controls button[aria-label="Minimize"]::before {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: black;
  }
  * .title-bar-controls button[aria-label="Maximize"]::before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border: 2px solid black;
    box-sizing: border-box;
  }

  .title-bar-controls button[aria-label="Close"]::before {
    content: "×";
    font-size: 26px;
    line-height: 1;
    font-weight: 300;
    color: black;
    display: block;
    margin-top: -2px;
  }
}

#taskBarLinks .window-body a:hover {
  background: #e0e0e0;
}
#taskBarLinks {
  transition: height 0.3s ease;
}

.maximized {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: auto !important;
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  transform: none !important;
}

.warning-button {
  /* box-shadow: 0 0 10px #ff3c00, 0 0 20px #ff3c00, 0 0 30px #ff3c00; */
  animation: radioactive-pulse 0.5s infinite alternate;
}

.warning-button:hover {
  background-color: var(--vibrate-button-colour2);
  color: #1a0000;
  box-shadow: 0 0 20px var(--vibrate-button-colour),
    0 0 40px var(--vibrate-button-colour), 0 0 60px var(--vibrate-button-colour);

  animation: confetti-burst 0.5s infinite;
}
:root {
  --vibrate-button-colour: #ff3c00;
  --vibrate-button-colour2: #ff0000;
}
@keyframes confetti-burst {
  0% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0 0 10px #ff3c00, 0 0 20px #ff3c00;
  }
  25% {
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 0 20px #ff3c00, 0 0 30px #ff3c00;
  }
  50% {
    transform: scale(1.2) rotate(-3deg);
    box-shadow: 0 0 30px #ff3c00, 0 0 50px #ff3c00;
  }
  75% {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 0 20px #ff3c00, 0 0 40px #ff3c00;
  }
  100% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0 0 10px #ff3c00, 0 0 20px #ff3c00;
  }
}

@keyframes radioactive-pulse {
  0% {
    box-shadow: 0 0 5px #6b6767, 0 0 10px #817e7e, 0 0 15px #6b6767;
  }
  100% {
    box-shadow: 0 0 15px #6b6767, 0 0 30px #6b6767, 0 0 45px #6b6767;
  }
}

.warning {
  font-size: 20px;
  font-weight: bold;
  color: red;
  animation: blink 2s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.window-body p {
  font-family: "MS Sans Serif", "Segoe UI", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  margin: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.windows-start-retro-popup {
  font-family: "MS Sans Serif", "Segoe UI", Arial, sans-serif;

  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #222;
}
.window-body p br {
  margin-bottom: 8px;
  content: "";
  display: block;
}

.window-body p • {
  margin-right: 4px;
}

.bg-image {
  background-image: url("./assets/grass.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  color: black;
  /* background-color: black; */
}
.start-button {
  height: 80%;
  margin: 0;
  padding: 0;
}

#taskbar {
  position: fixed;
  background-color: gray;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-top: 2px solid white;
}

.popup {
  position: absolute;

  width: 500px;
  z-index: 10;
  cursor: move;
}
.popup#cvWindow {
  position: absolute;
  top: 44%;
  left: 30%;
  width: 430px;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.popup#paintWindow {
  position: absolute;
  top: 64%;
  left: 30%;
  height: 60%;

  z-index: 9;
}
.popup#chessWindow {
  position: absolute;
  top: 20% !important;
  left: 50%;
  width: 430px;
  z-index: 1000;
}

.title-bar {
  cursor: move;
  cursor: grab;
}
.title-bar:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.window-body {
  cursor: default;
}

.desktop-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 16px;
  padding: 20px;
  width: 300px;
}

.icon {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.icon a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

/* video yt */

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  margin-top: 16px;
}
.video-card {
  background-color: #fff;
  padding: 4px;
}
.thumb {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border: 1px solid #000;
}
.video-info {
  margin-top: 8px;
}
.video-title {
  font-weight: bold;
  margin: 4px 0;
}
.video-desc {
  font-size: 12px;
  color: #333;
}
.lang-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 4px;
}
