:root {
  --font-color: #ebebeb;
  --bg-color: black;
}

.popup {
  position: absolute;
  top: 200px;
  left: 200px;
  border-radius: 6px;
  overflow: hidden;

  margin: 100px auto;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px #090909;

  border: 1.5px solid #656262;
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  /* position: absolute; */
}

.title-bar:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.title-bar {
  cursor: move;
  cursor: grab;
  /* padding: 1px; */
  background-color: #333333;
  flex-basis: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.title-bar-left {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.title-bar-title {
  font-family: system-ui;
  font-size: 9pt;
  font-weight: 500;
  color: white;
  user-select: none;
}

.title-bar-right {
  cursor: auto;
  flex-shrink: 0;
  background-color: #333333;
  
  height: 100%;
  display: flex;
}

.title-bar-right > div {
  width: 35px;
  background-color: #333333;

  transition: background-color 0.1s;
}

.title-bar-right > div:hover {
  background-color: #3d3b3b;
}
.min-btn::before {
  content: "";
  display: block;
  width: 9px;
  border-bottom: 1.5px solid rgb(255, 255, 255);
  margin: auto;
  margin-top: 15px;
}

.max-btn::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: 1.3px solid rgb(255, 255, 255);
  margin: auto;
  margin-top: 12px;
}

.close-btn::before {
  color: white;
  content: "\d7";
  display: block;
font-weight:100;
  align-items: center;
  justify-content: center;
  font-size: 15pt;
  width: 15px;
  margin: auto;
  margin-top: 1px;
}

.close-btn:hover::before {
  color: white;
}

.close-btn:hover {
  background-color: rgb(231, 0, 0) !important;
}
.neutral-screen{
  background-color: #ebebeb;
  height: 100%;
  padding:20px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
  font-family: monospace;
}

.white-screen{
  background-color: #ffffff;
  height: calc(100% - 65px);
  padding:20px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
  font-family: monospace;
}

.screen {
  flex-grow: 1;
    height: 100%;

  background-color: var(--bg-color);
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--font-color);
  font-family: monospace;
}
.line {
  color: var(--font-color);
  display: block;
  width: 8px;
  border-bottom: 3px solid var(--font-color);
  position: relative;
  top: -4px;
  left: 30px;
  font-weight: bold;
}

.text {
  padding: 7px;
  font-size: 14px;
  height: 10000px;
}

.screen::selection,
.text::selection {
  color: var(--bg-color);
  background: var(--font-color);
}
